* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: left;
  justify-content: left;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  background: #ffffff;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(221, 19, 134, 0.02);
}

.info {
  display: flex;
  padding: 30px 40px 30px 0;
}

.info #info-text {
  position: fixed;

  padding: 12px;
  width: 650;
  font-size: 19px;
  border: 0px solid #d21515;
}

.info #info-image {
  position: fixed;
  top: 70%;
  left: 85%;
  max-width: 30%;
  height: 30%;
}

#Blackhole1 {
width: 4%;
height: 4%;


}


